<h1> Putting it all together!</h1>
<hr>
<!-- two way binding on the input, property binding with disabled (un disabled after set to not true),
event binding with clicking, and string interpolation -->
<input
 type="text"
 class="form-control"
 [(ngModel)]="serverName"/>
 <button class = "btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Create Server</button>
 <!-- <p>{{serverCreationStatus}}</p> -->
 <!-- NG IF directive example keeps <p> hidden-->
 <p *ngIf="serverCreated; else noServer">{{serverCreationStatus}}</p> <!-- example of an else condition using local reference -->
 <ng-template #noServer><p>No server was created!</p></ng-template> <!-- #noServer is a local reference -->

<hr>
<input
type="text"
class="form-control"
(input)="onUpdateServerName($event)"/>
<p>{{someMessage}}</p>

<app-server></app-server>
<app-server></app-server>
